<!-- Button trigger modal -->
  <a type="button" class="core-sprite more-options hide-text ml-auto" data-toggle="modal" data-target="#exampleModalCenter">More</a>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header"></div> -->
        <div class="list-group text-center">
          <%= link_to "Edit" , edit_post_path(post.id), method: :get, class: "list-group-item list-group-item-action"%>
          <%= link_to "Delete" ,post_path(post), method: :delete, class: "list-group-item list-group-item-action"%>
        </div>
      </div>
    </div>
  </div>
<!-- = link_to post_path(post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do -->
  <!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
<!-- end -->
